body {
    background-color: black;
}
h3,h5{

    color:#242525;

}
#welcome{
    color: whitesmoke;
   /* margin-left: 30%;*/
   text-align: center;
   font-family: "Audiowide", sans-serif;
}
hr:not([size]) {
    color: gray;
    height: 10px;
}

#motto{
   /* margin-left: 34%;*/
    color: darkgray;
    text-align: center;
    font-family: 'Architects Daughter',sans-serif;
}
.card-title{
    font-weight: bolder;
}
#add_note_btn,.btn,.btn-primary {
    background-color: black;
    border: black;
    color: white;
}
#add_note_btn:hover,.btn:hover,.btn-primary:hover,.btn-primary:focus{
    background-color: white;
    border-color: white;
    color: black;
    box-shadow:0 0px 0px 2px gainsboro ;
}

.card{
    
    background-color: #41464b;
}
#add_note_Text,.form-control{
    background-color: #41464b;
    border: 1px solid black;
}
#add_note_Text:focus,.form-control:focus {
    color: whitesmoke;
    background-color: black;
    border-color: gainsboro;
    outline: 0;
    box-shadow: 0 0px 0px 2px gainsboro;
}
#search_textarea{
    color: white;
    background-color: black;
    border-color: black;
}
.card-text{
    
    color: black;
    font-weight: 600;
}
#Your_Notes{
    color: aliceblue;
    /*margin-left: 41.5%;*/
    text-align: center;
    font-family: "Audiowide", sans-serif;
}
.copyrightText{
    width:100%;
    padding: 8px 100px;
    text-align: center;
    color:#fff;
    font-size: larger;
    font-family: 'Roboto',sans-serif;
    
}
#quote{
    color: lavender;
    text-align: center;
    font-style: italic;
    font-size: 18px;
}
#author{
    float: right;
    color: slategray;
    font-weight: bold;
    font-style: italic; 
}
.alert-success {
    color: #0f5132;
    background-color: lightgreen;
    border-color: lightgreen;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}